/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/***************************************
*** Overwrite default exopite styles ***
/**************************************/

/* Style the Text */
.wp-sdtrk-options{
	font-family: 'Work Sans', Helvetica, Arial, Lucida, sans-serif;
	color: #edededa6;
}
/* Style the Links */
.wp-sdtrk-options a{
	color:#57b957;
}

/* Style the Header */
.wp-sdtrk-options .exopite-sof-header {
	background: #111113 !important;
	background-image: none !important;
	box-shadow: none !important;
	border-bottom: 3px solid #a5a5a5;
}

/* Style the Footer */
.wp-sdtrk-options .exopite-sof-footer {
	border-top: 3px solid #a5a5a5;
	box-shadow: none !important;
	background: #111113 !important;
}

/* Style the Sidebar */
.wp-sdtrk-options .exopite-sof-nav {
	background-color: #000 !important;
}
.wp-sdtrk-options .exopite-sof-nav-list-item.active {
	background-color: #57b957 !important;
}
.wp-sdtrk-options .exopite-sof-nav-list-item.active:after {
	display: none;
}
.wp-sdtrk-options .exopite-sof-nav-list-parent-item ul li {
	background-color: #111113 !important;
}

/* Style the Sidebar Text */
.wp-sdtrk-options .exopite-sof-nav .exopite-sof-nav-list-item-title {
	text-transform: uppercase;
	font-size: 12px;
	color: #ededed !important;
	letter-spacing: 3px;
}
/* Style the Content-Wrapper */
.wp-sdtrk-options .exopite-sof-sections {
	background-attachment: fixed;
	background-position: top left;
	background-repeat: no-repeat;
	background-image: linear-gradient(90deg, rgba(22, 25, 40, 0.82) 0%,
		rgba(22, 25, 40, 0.36) 100%), url(./bg.jpg) !important;
	background-repeat: no-repeat;
}
/* Style the Content-Area */
.wp-sdtrk-options .exopite-sof-section {
	margin: 20px;
	background-color: #111113d9 !important;
	border-radius: 5px 5px 5px 5px;
	overflow: hidden;
	border: 3px solid #a5a5a5;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
/* Remove default bottom borders */
.exopite-sof-section>.exopite-sof-field{
	border:none !important;
}

/* Style the Metabox position*/
.exopite-sof-wrapper-metabox.wp-sdtrk-options{
	margin: -6px -12px -12px -12px!important;
}

/* Style the Content-Wrapper for Metaboxes*/
.exopite-sof-wrapper-metabox.wp-sdtrk-options .exopite-sof-sections {
	background-position: bottom left;
	padding:10px;
}

/* Style the Fields */
.wp-sdtrk-options .exopite-sof-fieldset input[type=email],.wp-sdtrk-options .exopite-sof-fieldset input[type=password],
	.wp-sdtrk-options .exopite-sof-fieldset input[type=text], .wp-sdtrk-options .exopite-sof-fieldset select ,.wp-sdtrk-options .exopite-sof-fieldset input[type=number]{
	font-size: 14px!important;
	text-align: left!important;
	color: #fff!important;
	margin-top: 0px!important;
	margin-bottom: 5px!important;
	background: rgb(255 255 255 / 2%) !important;
	border: 1px solid rgb(255 255 255 / 15%)!important;
	padding: 6px 10px 6px!important;
}
/* Style the Select-Box-Background */
.wp-sdtrk-options .exopite-sof-fieldset select{
	background:#00000080 !important;
}

/* Style the Repeater-Fields */
.wp-sdtrk-options .exopite-sof-cloneable__title{
	background: #57b957 !important;
}
.wp-sdtrk-options .exopite-sof-cloneable--helper{
	color: #fff !important;
}
.wp-sdtrk-options .exopite-sof-cloneable--helper i:hover{
	color: #111113 !important;
}

/* Style the Radio-Buttons (outer circle) */
.wp-sdtrk-options .exopite-sof-field-radio .radio-button__input:checked+.radio-button__checkmark::before{
	border: 1px solid #57b957 !important;
	background: #000 !important;
}
/* Style the Radio-Buttons (inner circle) */
.wp-sdtrk-options .exopite-sof-field-radio .radio-button__checkmark::after{
	background: #57b957 !important;
}
/* Style the Radio-Buttons (non-checked) */
.wp-sdtrk-options .exopite-sof-field-radio .radio-button__checkmark::before{
	background: rgb(255 255 255 / 2%) !important;
	border: 1px solid rgb(255 255 255 / 15%)!important;
}
/* Style the Switcher */
.wp-sdtrk-options .exopite-sof-fieldset .checkbox__switch {
	border-radius: 50px !important;
	border-color: #b95757 !important;
	background-color: #b957574a !important;
}

/* Style the Switcher (checked)*/
.wp-sdtrk-options .exopite-sof-fieldset .checkbox__input:checked+.checkbox__switch {
	border-color: #57b957 !important;
	background-color: #00ff0096 !important;
	box-shadow: 0px 0px 10px 0px #00ff00 !important;
}

/* Style the Switcher (the moving button part)*/
.wp-sdtrk-options .exopite-sof-fieldset .checkbox__switch:after {
	border-radius: 50px !important;
	background-image: linear-gradient(234deg, #a5a5a5 0%, #ededed 16%, #a5a5a5 42%, #ededed
		62%, #f2f2f2 71%, #a5a5a5 82%, #a5a5a5 91%);
	box-shadow: 0px 12px 18px -6px rgb(0 0 0/ 30%) !important;
}

/* Style the Buttons */
.wp-sdtrk-options .exopite-sof-field .button.button-primary, #wp-sdtrk-save,
	.wp-sdtrk-options .exopite-sof-submit-button-js {
	font-size: 14px;
	background-color: #57b957 !important;
	border-width: 0px !important;
	border-color: #57b957 !important;
	border-radius: 0px;
	letter-spacing: 1px;
	transition: 0.3s;
}
/* Style the Buttons (Hover */
.wp-sdtrk-options .exopite-sof-field .button.button-primary:hover, #wp-sdtrk-save:hover {
	background-color: #66c766 !important;
	border-color: #66c766 !important;
}

/***************************************
************* Custom Styles ************
/**************************************/

.wp-sdtrk-options .shifted {
	margin-left:30px;
}

.wp-sdtrk-options .dangerZone {
	border: 1px solid #ff0000 !important;
	margin-left:30px;
	background: rgb(153 11 11 / 35%);
}
.wp-sdtrk-options .dangerZone p.exopite-sof-description{
	color:#ff0000;
}

.wp-sdtrk-options .pageHeader, .exopite-sof-wrapper-metabox.wp-sdtrk-options h2.exopite-sof-section-header {
	background:none;
	border-bottom: 3px solid #57b957 !important;
}
.wp-sdtrk-options .divideHeader {
	border-bottom: 1px solid rgb(255 255 255 / 25%) !important
}

.wp-sdtrk-options .divideHeader h3 {
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 3px;
	line-height:1em;
	margin:15px 0px 5px 0px;
}

.wp-sdtrk-options .pageHeader h3 {
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 3px;
	color: #ededed !important;
	line-height:1em;
	margin:5px 0px 5px 0px;
}
.wp-sdtrk-options .exopite-sof-field-content h3{
	color: #ededed !important;
}


.wp-sdtrk-options h4.exopite-sof-title {
	color: #ededed;
}