/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.wpsdtrk-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.wpsdtrk-modal-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}
.wpsdtrk-modal-content {
    background-color: #2c2c2cf7 !important;
    border: 1px solid #ededed !important;
    box-shadow: 0px 3px 9px 3px rgba(236, 236, 236, 0.19);
    padding: 20px;
    border-radius: 6px;
    z-index: 10;
    width: 100%;
    max-width: 400px;
    color: #fff;
}

.wpsdtrk-modal-content h1,
.wpsdtrk-modal-content h2,
.wpsdtrk-modal-content h3,
.wpsdtrk-modal-content h4,
.wpsdtrk-modal-content h5,
.wpsdtrk-modal-content h6 {
    color: #ededed;
}

.wpsdtrk-modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}
.hidden {
    display: none;
}

/*======================
  Input Styling
======================*/

.wpsdtrk-modal-content .button,
.wpsdtrk-modal-content .button-secondary,
.wpsdtrk-modal-content .button:focus,
.wpsdtrk-modal-content .button-secondary:focus {
    color: #fff;
    font-size: 14px;
    background-color: #ffffff1c;
    border-width: 0px;
    border-radius: 0px;
    letter-spacing: 1px;
    transition: 0.3s;
    box-shadow: none;
}

.wpsdtrk-modal-content .button:hover,
.wpsdtrk-modal-content .button-secondary:hover {
    background-color: #ffffff4d;
    color: #fff;
}

.wpsdtrk-modal-content button.button-primary,
.wpsdtrk-modal-content input.button-primary,
.wpsdtrk-modal-content a.button-primary,
.wpsdtrk-modal-content button.button-primary:focus,
.wpsdtrk-modal-content input.button-primary:focus,
.wpsdtrk-modal-content a.button-primary:focus {
    font-size: 14px;
    background-color: #57b957;
    border-width: 0px;
    border-color: #57b957;
    border-radius: 0px;
    letter-spacing: 1px;
    transition: 0.3s;
    box-shadow: none;
}

.wpsdtrk-modal-content button.button-primary:hover,
.wpsdtrk-modal-content input.button-primary:hover,
.wpsdtrk-modal-content a.button-primary:hover {
    background-color: #66c766;
    border-color: #66c766;
    color: #fff;
}

.wpsdtrk-modal-content input[type=email],
.wpsdtrk-modal-content input[type=password],
.wpsdtrk-modal-content input[type=text],
.wpsdtrk-modal-content input[type=number] {
    font-size: 14px !important;
    text-align: left !important;
    color: #fff !important;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
    background: rgb(255 255 255 / 2%) !important;
    border: 1px solid rgb(255 255 255 / 15%) !important;
    padding: 6px 10px 6px !important;
}

.wpsdtrk-modal-content input[type=email]:focus,
.wpsdtrk-modal-content input[type=password]:focus,
.wpsdtrk-modal-content input[type=text]:focus,
.wpsdtrk-modal-content input[type=number]:focus {
    border-color: #57b957;
    box-shadow: 0 0 0 1px #57b957;
    outline: 1px solid transparent;
}
.wpsdtrk-modal-content select:focus {
    border-color: #57b957;
    box-shadow: 0 0 0 1px #57b957;
    outline: 1px solid transparent;
}

.wpsdtrk-modal-content select {
    font-size: 14px !important;
    text-align: left !important;
    color: #fff !important;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
    background: rgb(255 255 255 / 2%) url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
    border: 1px solid rgb(255 255 255 / 15%) !important;
    padding: 6px 10px 6px !important;
}

.wpsdtrk-modal-content select option {
    background-color: rgb(30 30 34) !important;
    color: #999 !important;
}

.wpsdtrk-modal-content select option:checked {
    color: #fff !important;
}